<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8">
<title th:text="${titlePage}"></title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/app/home}"> <img
				th:src="@{/images/logos/logo.jpg}" width="30" height="30"
				class="d-inline-block align-top" alt=""> Spring Boot
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/app/home}">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/form}">Formulario</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/listar}">Pokemones</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0">Búsqueda</button>
				</form>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer"> 
		<script th:src="@{/resources/js/jquery.slim.min.js}"></script>
		<script th:src="@{/resources/js/popper.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>