<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titlePage}"></title>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/app/home"> <img
			src="/resources/Icons/bootstrap-solid.svg" width="30" height="30"
			class="d-inline-block align-top" alt=""> Spring Boot
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="/app/home">Inicio <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Formulario</a></li>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0">Búsqueda</button>
			</form>
		</div>
	</nav>

	<h1 th:text="${titulo}"></h1>
	<hr>
	<div class="container">
		<div  class="card p-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
			<form>
			<div class="form-group">
				<label for="idNombre">Nombre</label> <input
					type="text" class="form-control" id="idNombre">
			</div>
			<div class="form-group">
				<label for="idTipo">Tipo</label> <input
					type="text" class="form-control" id="idTipo"> 
			</div>
			<div class="form-group">
				<label for="idHabilidad">Habilidad</label> <input
					type="text" class="form-control" id="idHabilidad">
			</div>
			<div class="form-group">
				<label for="idNivelPoder">Nivel Poder</label> <input
					type="text" class="form-control" id="idNivelPoder">
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
		


	</div>







	<script src="/resources/js/jquery.slim.min.js"></script>
	<script src="/resources/js/popper.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>