<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla/plantilla :: head" ></head>
<body>
	<header th:replace="/plantilla/plantilla :: header"></header>

	<!--Inicio de contenido-->
	<div class="container mt-3">
		<div class="jumbotron">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<hr>
			<div>
				<span class="lead" th:text="${Mensaje}"></span>
			</div>

		</div>
	</div>
	<!--Fin de contenido-->

	<footer th:replace="/plantilla/plantilla :: footer">
	</footer>
</body>

</html>