<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla/plantilla :: head" ></head>
<body>
	<header th:replace="/plantilla/plantilla :: header"></header>
	
	<div class="container mt-3">
		<div class="jumbotron">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<hr>
			<p class="lead" th:text="${resumen}"></p>
			
			<div class="alert alert-success" role="alert">
			  <p th:text="${respuesta}"></p>
			</div>
			<div class="alert alert-danger" role="alert">
			  <p th:text="${respuesta}"></p>
			</div>
			
			<hr class="my-4"/>
			
			<div style="display: flex;justify-content: center; flex-wrap: wrap;">
				
				<ul th:each="pokemon : ${ListaPokemon}"  style="list-style: none;">
					<li>
						<div class="card mb-3" style="max-width: 540px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
						  <div class="row no-gutters">
						    <div class="col-md-4">
						      <img style="width: 100%; object-fit: cover;margin: auto;" th:src="@{/Img_Pokemon/}+${pokemon.uriImagen}" alt="Pokemon">
						    </div>
						    <div class="col-md-8">
						      <div class="card-body">
						        <h5 class="card-title" th:text="${pokemon.nombre}"></h5>
						        <ul class="list-group list-group-flush">
								  <li class="list-group-item" th:text="${pokemon.categoria}" ></li>
								  <li class="list-group-item" th:text="${pokemon.tipo}" ></li>
								  <li class="list-group-item" th:text="${pokemon.habilidad}" ></li>
								  <li class="list-group-item" th:text="${pokemon.nivelPoder}" ></li>
								</ul>
								<div>
									<a th:href="@{/app/Editar/}+${pokemon.idPokemon}" class="btn btn-sm btn-info" >Editar</a>
									<a th:href="@{/app/Eliminar/}+${pokemon.idPokemon}" class="btn btn-sm btn-danger">Eliminar</a>
								</div>
						      </div>
						    </div>
						  </div>
						</div>
					</li>
				</ul>		
			
			</div>		
		
		</div>	
		
	
	</div>
	
	<footer th:replace="/plantilla/plantilla :: footer"></footer>
</body>
</html>